.biome-list {border-left: 4px solid #2d3542;}
.building-item {background: #ececec; width: max(138px, calc(20% - .5rem)); overflow:clip; border-radius:.875rem; border-top:4px solid #2d3542;}
body.darkMode .building-item { background: #2d3542; }
.building-biome-icon {position:absolute; right:-.125rem; top:-.125rem;}
.resource-item {background: #ececec;border-right: 4px solid #2d3542;border-radius:.5rem;}
body.darkMode .resource-item { background: #2d3542; }
.border-melvorf-water img.skill-icon-xs {filter: brightness(1.75) saturate(1.5);}
.border-net-gain            { border-color: #51a82b;}
.border-net-loss            { border-color: #a82b2b;}
.border-melvorf-grasslands  { border-color: #91d772;}
.border-melvorf-forest      { border-color: #51a82b;}
.border-melvorf-desert      { border-color: #ffcb47;}
.border-melvorf-water       { border-color: #1499ff;}
.border-melvorf-swamp       { border-color: #887ce0;}
.border-melvorf-arid-plains { border-color: #db7158;}
.border-melvorf-mountains   { border-color: #828282;}
.border-melvorf-valley      { border-color: #86cad5;}
.border-melvorf-jungle      { border-color: #3abf68;}
.border-melvorf-snowlands   { border-color: #b3dbcc;}

.citizen-legend .legend {border-left: 4px solid #ff00ff;padding:.125rem .333rem;}
.citizen-legend .legend.baby {border-color: #5dc837;}
.citizen-legend .legend.worker {border-color: #5cace5;}
.citizen-legend .legend.potions {border-color: #c8b342;}
.citizen-legend .legend.old {border-color: #b02a2a;}
.citizen-legend img { height: 1.2rem; margin: 0 0.25rem; vertical-align: top; }

.citizen-age-graph {position: relative;height: 100px;border-top: 1px solid #fff2;}
.citizen-age-graph > div {position: absolute;height: 100%;width: 100%;}
.citizen-age-graph .bars > div {position: absolute;width: 100%;border-top: 1px solid #fff2;pointer-events: none;}
.citizen-age-graph .text {top: -10px;pointer-events: none;font-size: .75rem;}
.citizen-age-graph .text > div {position: absolute;width: 100%;padding: 0 0 0 4px;}
.citizen-age-graph .regions {top: -7px;pointer-events: none;}
.citizen-age-graph .regions > div {position: absolute;padding: 0 4px 0 0;}
.citizen-age-graph .graph {display: grid;align-items: end;}
.citizen-age-graph .graph > div { background: #fe0001; }

.citizen-age-graph .graph .baby:nth-child(2n) {background: #5dc837;}
.citizen-age-graph .graph .baby:nth-child(2n-1) {background: #4db02a;}
.citizen-age-graph .graph .worker:nth-child(2n) {background: #4290c8;}
.citizen-age-graph .graph .worker:nth-child(2n-1) {background: #5cace5;}
.citizen-age-graph .graph .potions:nth-child(2n) {background: #c8b342;}
.citizen-age-graph .graph .potions:nth-child(2n-1) {background: #b09d33;}
.citizen-age-graph .graph .old:nth-child(2n) {background: #9f1a1a;}
.citizen-age-graph .graph .old:nth-child(2n-1) {background: #b02a2a;}

.citizen-job-graph .unemployed {background-color: #ff6384;}
.citizen-job-graph .blacksmith {background-color: #ff9f40;}
.citizen-job-graph .fisherman {background-color: #ffcd56;}
.citizen-job-graph .woodcutter {background-color: #4bc0c0;}
.citizen-job-graph .stone_miner {background-color: #36a2eb;}
.citizen-job-graph .ore_miner {background-color: #9966ff;}
.citizen-job-graph .coal_miner {background-color: #c9cbcf;}
.citizen-job-graph .gatherer {background-color: #ccc876;}
.citizen-job-graph .rune_essence_miner {background-color: #ac94f9;}
.citizen-job-graph .crafter {background-color: #605d23;}
.citizen-job-graph .apothecarist {background-color: #856a92;}
.citizen-job-graph .plank_maker {background-color: #9aa8ce;}
.citizen-job-graph .tailor {background-color: #5b678;}
